.main-menu {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
}
.main-menu__item {
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
    &:hover > .wrapper-subs-menu {
        display: block;
    }
}
.main-menu__link {
    text-decoration: none;
    color: #fff;
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 14px;
    font-weight: 700;
    line-height: 48px;
    &:hover {
        color: #f77b33;
    }
}
.active {
    color: #f77b33;
}
.count-current-favorites-posts {
    position: absolute;
    right: 1px;
    top: 2px;
    color: #000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
