.social-icon {
    height: 15px;
    cursor: pointer;
}
.social__facebook-icon:hover {
    fill: rgb(42, 42, 179);
}
.social__instagram-icon:hover {
    fill: gray;
}
.social__youtube-icon:hover {
    fill: red;
}
.social__container {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.social__link {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}
