.swipe-articles__container {
    display: flex;
    justify-content: space-between;
    padding: 21px 0;
}
.swipe-articles__button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
    &:hover {
        background-color: #0069d9;
    }
    &:active {
        background-color: #005cbf;
    }
}
