body {
    background-image: url('../../assets/bg-car.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper-app {
    padding: 0;
    background-color: #fff;
    max-width: 1164px;
    height: 100vh;
}
