body {
    background-image: url('../../assets/bg-car.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}
.wrapper-app {
    padding: 0;
    background-color: #fff;
    max-width: 1164px;
    min-height: 100vh;
    overflow: hidden;
}
