.sideBar-header__wrapper {
    max-width: 339px;
    height: 33px;
    display: flex;
    align-items: center;
    background-color: #f77b33;
    padding-left: 12px;
}
.sidebar-header__title {
    color: #fff;
    font-size: 17px;
    font-weight: bold;
}
