.footer-list-images__image {
    height: auto;
}
.footer-list-images__link {
    display: inline-block;
    width: 25%;
    position: relative;
    z-index: 1;
    &::before {
        content: '';
        display: block;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.15);
        width: 95%;
        height: 93%;
        left: 5px;
        top: 5px;
        bottom: 5px;
        right: 5px;
        z-index: 2;
        border: 1px solid #e9e9e9;
        opacity: 0;
        transition: opacity 0.5s;
    }
    &:hover::before {
        opacity: 1;
    }
}
.footer__container {
    background-color: rgba(10, 10, 10, 0.9);
    min-height: 600px;
}
