.cars-page__container {
    padding: 0 48px;
}
.cars-page-main-content-wrapper {
    display: flex;
    column-gap: 50px;
    justify-content: space-between;
}
.wrapper-right-side {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
